<footer class="footer_widgets">
    <div class="container">
        <div class="footer_top">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container contact_us">
                        <div class="footer_logo">
                            <a href="#"><img src="/img/logo/logo.png" alt=""></a>
                        </div>
                        <div class="footer_contact">
                            <p>ما یک تیم از طراحان و توسعه دهندگان هستیم که ملاکمان ارائه بهترین قالب با بهترین کیفیت است</p>
                            <p><span>آدرس</span>ایران - تهران - شیخ صدوق</p>
                            <p><span>به کمک نیاز دارید؟</span>تلفن : <a href="tel:09121234567">09121234567</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3> اطلاعات</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="#"> اطلاعات تحویل </a></li>
                                <li><a href="privacy-policy.html">سیاست حریم خصوصی</a></li>
                                <li><a href="coming-soon.html">به زودی</a></li>
                                <li><a href="#"> شرایط و ضوابط </a></li>
                                <li><a href="#"> برگشت کالا</a></li>
                                <li><a href="#"> گواهینامه های هدیه </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3> موارد اضافی </h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#"> برگشت کالا</a></li>
                                <li><a href="#"> تاریخ سفارشات </a></li>
                                <li><a href="wishlist.html"> لیست آرزوها </a></li>
                                <li><a href="#"> خبرنامه</a></li>
                                <li><a href="#"> وابسته </a></li>
                                <li><a href="#"> ویژه ها </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container">
                        <h3> در خبرنامه ما مشترک شوید </h3>
                        <p>ما هرگز آدرس ایمیل شما را با شخص ثالث به اشتراک نمی گذاریم.</p>
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter">
                                <input id="mc-email" type="email" autocomplete="off" placeholder="آدرس ایمیل خود را وارد کنید..." />
                                <button id="mc-submit">عضویت</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="copyright_area">
                        <p>  © 2020 <a href="webdesignrtl">وب دیزاین</a> حقوق مادی و معنوی سایت محفوظ می باشد.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer_payment text-right">
                        <a href="#"><img src="/img/icon/payment.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
