<header class="header_area header_padding">
    <div class="header_top">
        <div class="container">
            <div class="top_inner">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="follow_us">
                            <label>دنبال کردن:</label>
                            <ul class="follow_link">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="top_right text-right">
                            <ul>

                                @{
                                    System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="top_links">
                                        <a href="#"><i class="ion-android-person"></i>&nbsp; @User.Identity.Name <i class="ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_links">
                                            <li><a href="my-account.html"><i class="fa fa-user-circle"></i>&nbsp; مشاهده حساب کاربری  </a></li>
                                            <li><a href="cart.html"><i class="fa fa-shopping-basket"></i>&nbsp;سبد خرید</a></li>
                                            <li><a asp-action="LogOut" asp-controller="Account"><i class="fa fa-sign-out"></i>&nbsp;خروج</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="language">
                                        <a href="#"><i class="ion-android-person"></i>&nbsp;ورود / ثبت نام<i class="ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_language">
                                            <li><a asp-action="Login" asp-controller="Account"><i class="fa fa-sign-in"></i>&nbsp; ورود</a></li>
                                            <li><a asp-action="Register" asp-controller="Account"><i class="fa fa-registered"></i>&nbsp;ثبت نام</a></li>
                                        </ul>
                                    </li>
                                }
                                <li class="currency">
                                    <a href="#">ریال <i class="ion-ios-arrow-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">ریال - ایران</a></li>
                                        <li><a href="#">دینار - کویت</a></li>
                                        <li><a href="#">دلار - آمریکا</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3">
                        <div class="logo">
                            <a href="index.html"><img src="/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="middel_right">
                            <div class="search-container">
                                <form action="#">
                                    <div class="search_box">
                                        <input placeholder="عنوان موردنظر را جستجو کنید..." type="text">
                                        <button type="submit"><i class="ion-ios-search-strong"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="middel_right_info">

                                <div class="header_wishlist">
                                    <a href="wishlist.html"><span class="lnr lnr-heart"></span>فروشگاه</a>
                                    <span class="wishlist_quantity">3</span>
                                </div>
                                <div class="mini_cart_wrapper">
                                    <a href="javascript:void(0)"><span class="lnr lnr-cart"></span>خرید</a>
                                    <span class="cart_quantity">2</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--mini cart-->
        <div class="mini_cart">
            <div class="cart_close">
                <div class="cart_text">
                    <h3>سبد خرید</h3>
                </div>
                <div class="mini_cart_close">
                    <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                </div>
            </div>
            <div class="cart_item">
                <div class="cart_img">
                    <a href="#"><img src="/img/s-product/product.jpg" alt=""></a>
                </div>
                <div class="cart_info">
                    <a href="#">چرخ جلویی پژو پارس</a>

                    <span class="quantity">تعداد: 1</span>
                    <span class="price_cart">60000 تومن</span>

                </div>
                <div class="cart_remove">
                    <a href="#"><i class="ion-android-close"></i></a>
                </div>
            </div>

            <div class="mini_cart_table">
                <div class="cart_total">
                    <span>جمع کل:</span>
                    <span class="price">138000 تومن</span>
                </div>
                <div class="cart_total mt-10">
                    <span>صورتحساب:</span>
                    <span class="price">138000 تومن</span>
                </div>
            </div>

            <div class="mini_cart_footer">
                <div class="cart_button">
                    <a href="cart.html">نمایش سبد خرید</a>
                </div>
                <div class="cart_button">
                    <a class="active" href="checkout.html">پرداخت</a>
                </div>

            </div>

        </div>
        <!--mini cart end-->

    </div>

    <div class="header_bottom bottom_four sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="main_menu header_position">
                        <nav>
                            <ul>
                                <li>
                                    <a href="index.html">صفحه اصلی<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub_menu">
                                        <li><a href="index.html"> 1 صفحه اصلی</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="contact.html">ارتباط با ما</a></li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="discount_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="discount_text">
                        <p>ذخیره انرژی تا 30 درصد <a href="#">همین حالا بخرید</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
