.fc-event {
	border-radius: .2rem;
	border: none;
	cursor: move;
	font-size: .9rem;
	margin: .5rem .5rem;
	padding: .3rem;
	text-align: center;
}

.fc .fc-view-container .fc-view table .fc-body .fc-widget-content .fc-day-grid-container .fc-day-grid .fc-row .fc-content-skeleton table .fc-event-container .fc-day-grid-event.fc-event {
	line-height: 1.3;
	border-radius: 3px;
	border-right: unset;
	border-left: unset;
	color: #fff;
	background-color: #3a87ad;
}

.btn,
.fc .fc-button,
.swal2-modal .swal2-actions button,
.wizard>.actions a {
	color: #000 !important;
	background-color: #3a87ad !important;
	border: 1px solid #3a87ad !important;
}

.fc-state-default:hover {
	background: #3a87ad;
}