@inject IResourceManager _resourceManager
<div id="PrFeatures">
    <div class="form-group row p-15">
        <div class="col-md-6">
            <label  class="control-label">توضیحات</label>
            <div class="input-group">
                <input type="text" id="Pr_Title" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <label  class="control-label">EnglishTitle</label>
            <div class="input-group">
                <input type="text" id="Pr_EnglishTitle" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group row p-15">
        <div class="col-md-12">
            <label class="control-label">توضیحات</label>
            <div class="input-group">
                <textarea id="Pr_Description" class="form-control" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div class="form-group row p-15">
        <div class="col-md-12">
            <a href="javascript:void(0)" class="btn btn-primary" id="addFeatureBtn">ADD MOVIE</a>
        </div>
    </div>

    <div class="form-group row p-15">
        <div class="col-md-12">
            <section id="MsnContainer">
                <section class="text-center">
                    <label class="font-weight-bold text-danger" id="Msn"></label>
                </section>
            </section>
            <br><br>
            <section id="table-container">

                <table class="table table-bordered table-striped" id="table-information">
                    <thead>
                        <tr class="bg-info text-light font-weight-bold text-center">
                            <td>Title</td>
                            <td>English title</td>
                            <td>Desc</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="table-body"></tbody>

                </table>

            </section>
        </div>
    </div>

</div>