<div class="col-sm-12 col-md-3 col-lg-3">
    <!-- Nav tabs -->
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a id="indexUser" asp-area="Panel" asp-controller="AccountPanel" asp-action="Index" class="nav-link active">داشبورد</a></li>
            <li> <a id="userInfo" asp-area="Panel" asp-controller="AccountPanel" asp-action="AddApplicationUserInfo" class="nav-link ">سبد خرید</a></li>
            <li><a href="#downloads" data-toggle="tab" class="nav-link">دانلود</a></li>
            <li><a href="#address" data-toggle="tab" class="nav-link">آدرس</a></li>
            <li><a href="#account-details" data-toggle="tab" class="nav-link">جزئیات حساب</a></li>
        </ul>
    </div>
</div>
