@model List<PMA.Sop.Domain.DTOs.User.UserDto>
@{
    ViewData["Title"] = "کاربران";
}

<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">کاربران</h3>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                                <i class="mdi mdi-home-outline"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">مدیریت کاربران</li>
                        <li class="breadcrumb-item active" aria-current="page">کاربران</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">

        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">کاربران</h4>
                </div>
                <div class="box-body">
                    <div class="clearfix">
                        <a class="btn btn-success btn-flat mb-5" asp-action="Create">
                            <i class="fa fa-plus"></i>
                            افزودن کاربر جدید
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table id="complex_header" class="table table-striped table-bordered display"
                               style="width: 100%">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>نام کاربری</th>
                                    <th>تاریخ عضویت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var row = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@row</td>
                                        <td>@item.Email</td>
                                        <td>@item.RegisterDate</td>
                                        <td>
                                            <a class="btn btn-info btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn  btn-danger btn-xs">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    row++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>