<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/admin/images/favicon.ico">

    <title>پنل مدیریت فروشگاه | @ViewBag.Title</title>
    <partial name="_styles" />

    @await RenderSectionAsync("style", false)

</head>
<body class="hold-transition light-skin sidebar-mini theme-primary fixed rtl">
    <div class="wrapper">

        @*header*@
        <partial name="_header" />
        @*endHeader*@

        @*SideMenu*@
        <partial name="_sideMenue" />
        @*SideMenu*@

        <div class="content-wrapper">
            <div class="container-full">

                @RenderBody()
            </div>
        </div>

        @*Footer*@
        <partial name="_footer" />
        @*Footer*@

    </div>
    <partial name="_script" />

    @await RenderSectionAsync("Scripts", false)

</body>
</html>
