@model PMA.Sop.Domain.DTOs.User.LoginUserDto
@inject IResourceManager _resourceManager

@{
    ViewData["Title"] = _resourceManager[SharedResource.Login];
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">@_resourceManager[SharedResource.HomePage]</a></li>
                        <li>@_resourceManager[SharedResource.Login]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer_login mt-32">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="account_form register">
                    <h2>
                        @_resourceManager[SharedResource.Login]
                        <i class="fa fa-frown-open"></i>
                    </h2>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <form asp-action="Login" asp-controller="Account" method="post">
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="text" class="form-control" placeholder="پست الکترونیک" aria-describedby="email-address">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور" aria-describedby="password">
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="login_submit">
                                <a asp-action="ForgetPassword" asp-controller="Account">رمز عبور را فراموش کرده اید؟</a>
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" type="checkbox">
                                    مرا بخاطر بسپار
                                </label>
                                <button class="btn btn-outline-success" type="submit">
                                    <span class="fa fa-check-circle"></span>
                                    @_resourceManager[SharedResource.Login]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
