@model RegisterUserDto
@inject IResourceManager _resourceManager
@{
    ViewData["Title"] = _resourceManager[SharedResource.Register];
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">@_resourceManager[SharedResource.HomePage]</a></li>
                        <li>@_resourceManager[SharedResource.Register]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer_login mt-32">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="account_form register">
                    <h2>
                        @_resourceManager[SharedResource.Register]
                        <i class="fa fa-registered"></i>
                    </h2>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <form asp-action="Register" asp-controller="Account" method="post">
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" type="text" class="form-control" placeholder="پست الکترونیک" aria-describedby="email-address">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="شماره همراه" aria-describedby="phonenumber">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور" aria-describedby="password">
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="form-group">
                                <label asp-for="RePassword"></label>
                                <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور" aria-describedby="password">
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="login_submit">
                                <button class="btn btn-outline-success" type="submit">
                                    <span class="fa fa-save"></span>
                                    @_resourceManager[SharedResource.Register]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
